#edit_toolbar {
    /*border: solid 1px yellow;*/
    z-index: 99;
    height: 32px;
    position:absolute;
    /*width: 50%;*/
}

#edit_toolbar #edit_switch {
    width:17px;
    height:17px;
    background: transparent url(/images/edittools/switch.gif) 0 0 no-repeat;
    float: left;
}

#edit_toolbar #edit_switch.flip{
    background: transparent url(/images/edittools/switch.gif) 0 -17px no-repeat;
}


#edit_toolbar #linkbutton {
    width: 56px;
    height: 22px;
    float: left;
    padding: 5px;
    margin-left: 10px;
    background: transparent url(/images/edittools/youtube_small.gif) 0 0 no-repeat;
}

#edit_toolbar #linkinput {
    display:none;
    width: 0px;
    float: left;
    margin-left: 10px;
}

/*#edit_toolbar #pref {*/
/*    width:22px;*/
/*    height:22px;*/
/*    float: left;*/
/*    padding: 5px;*/
/*    background: transparent url(/images/edittools/preferences.png) 0 0 no-repeat;*/
/*}*/

#edit_toolbar #print {
    width:22px;
    height:22px;
    float: left;
    padding: 5px;
    background: transparent url(/images/edittools/document-print.png) 0 0 no-repeat;
}

#edit_toolbar #print:hover {
    background: transparent url(/images/edittools/document-print.png) -1px -1px no-repeat;
}

/*#edit_toolbar #pref:hover {*/
/*    background: transparent url(/images/edittools/preferences.png) -1px -1px no-repeat;*/
/*}*/

#edit_toolbar #newdoc {
    width:22px;
    height:22px;
    float: left;
    padding: 5px;
    background: transparent url(/images/edittools/document-new.png) 0 0 no-repeat;
}

#edit_toolbar #newdoc:hover {
    background: transparent url(/images/edittools/document-new.png) -1px -1px no-repeat;
}

/*#edit_toolbar #savedoc {
    width:22px;
    height:22px;
    float: left;
    padding: 5px;
    background: transparent url(/images/edittools/document-save.png) 0 0 no-repeat;
}
#edit_toolbar #savedoc:hover {
    background: transparent url(/images/edittools/document-save.png) -1px -1px no-repeat;
}
*/
#edit_toolbar #savedoc {
    position: absolute;
    height:22px;
    z-index: 101;
}

#edit_toolbar #pref  {
    height:22px;
    float: left;
}


#edit_toolbar .c_lang_left {
    float: left;
    width: 100px;
    position: relative;
    margin-top: 5px;
    color: brown;
    background-color: white;
    border: solid 1px #D6D3BD;
}

#edit_toolbar .c_lang_right {
    float: left;
    width: 100px;
    position: relative;
    margin-top: 5px;
    color: brown;
    background-color: white;
    margin-right: 5px;
    border: none 0px;
    border: solid 1px #D6D3BD;
}

#edit_toolbar select {
    font-family: sans-serif;
    font-size: small;
    color: Brown;
    background-color: white;
    border: solid 1px black;
}