
.twext_out {
    /*width: 48%;*/
    overflow: auto;
    border: 2px solid lightgrey;
    padding:15px;
    bottom: 10px;
    top: 55px;
    z-index:130;
    position: absolute;
    overflowY: hidden;
    -moz-border-radius : 7px;
    -webkit-border-radius: 7px;
}

.outMask {
    background-color: darkgrey;
    color: white;
    padding:15px;
    bottom: 10px;
    top: 55px;
    z-index:1260;
    border: solid 2px black;
}

.out_content_menu {
    z-index:140;
    position: absolute;
    display: none;
    border: outset 2px #84794A;
    background-color: #D6D3BD;
    padding: 4px;
}

.a_clipboard textarea {
    width: 200px;
    height: 150px;
}

.oc-menu-item {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

.oc-menu-item-over {
    background-color: #84794A;
    color: white;
}

.hl-menu-item-over {
   background-color: #84794A;
   color: white; 
}

.hl-menu-item {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    border-bottom: 1px solid grey;
}

.out_history_list {
    z-index:146;
    position: absolute;
    display: none;
    border: solid 4px #84794A;
    background-color: white;
    padding: 4px;
    width: 210px;
    height: 210px;
}