
.save_form {
    z-index: 551;
    position: absolute;
    width: 400px;
    padding: 15px;
    background-color: #FFF;
    border: solid 3px #CCC;
    visibility: hidden;
    -moz-border-radius : 7px;
    -webkit-border-radius: 7px;
}

.save_form .title {
    background-color: #CCC;
    color:black;
    padding: 3px;
    padding-left: 30px;
    font-family: sans-serif;
    font-weight: bold;
    /* background: transparent url(/images/userlogin/system-users.png) 3px 1px no-repeat; */
}

.save_form .body {
    background-color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #84794A;
    -moz-border-radius : 3px;
    -webkit-border-radius: 3px;
}

.save_form .body .field label {
    padding-right: 5px;
}

.save_form .body input {
    width: 250px;
}

.save_form .body textarea {
    width: 350px;
    height: 150px;
}

.save_form .body .field_textarea label {
    display:block;
}