
.save_form {
    z-index: 551;
    position: absolute;
    background-color: #D6D3BD;
    border: solid medium #84794A;
    visibility: hidden;
    -moz-border-radius : 4px;
    -webkit-border-radius: 4px;
}

.save_form .title {
    background-color: #84794A;
    color:white;
    padding: 3px;
    padding-left: 30px;
    font-family: sans-serif;
    font-weight: bold;
    /* background: transparent url(/images/userlogin/system-users.png) 3px 1px no-repeat; */
}

.save_form .body {
    background-color: #D6D3BD;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #84794A;
    -moz-border-radius : 3px;
    -webkit-border-radius: 3px;
}

.save_form .body .field label {
    padding-right: 5px;
}

.save_form .body .field_textarea textarea {
    right: 5px;
    left: 5px;
    height: 150px;
}

.save_form .body .field_textarea label {
    display:block;
}