
.sidebar .comment_button {
    width: 63px;
    height: 63px;
    background: transparent url(/images/sidebar/comments.gif) 0 0 no-repeat;
}

.sidebar {
    position: absolute;
    z-index: 511;
    display: none;
}