
.sidebar .comment_button {
    width: 63px;
    height: 63px;
    background: transparent url(/images/sidebar/comments.gif) 0 0 no-repeat;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    z-index: 511;
    display: none;
}

.fkeys {
    color: #B5AA84;
    font-size: 14px;
    margin-bottom: 25px;
}

.fkeys .frow {
    margin-bottom: 7px;
}

.fkeys .fkey {
    padding: 0px;
   /* background-color: #84794A; */
    color: black;
    font-weight: bold;
    margin-right: 0px;
}