.top_menu {
	display: none;
    z-index: 198;
    position: absolute;
    cursor: pointer;
}

.topButtonHi {
    color: #FFFFFF;
    background-color: grey;
    cursor: pointer;
}

.TopFindButton{
    cursor: pointer;
    width: 65px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #D6D7BD;
    text-align: center;
    z-index: 68;
    position:absolute;
    top: 2px;
    right: 10px;
}

.TopNewButton {
    cursor: pointer;
    width: 65px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #D6D7BD;
    text-align: center;
    z-index: 69;
    position:absolute;
    top: 2px;
    right: 10px;
}

.TopPrintButton {
    cursor: pointer;
    width: 65px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #D6D7BD;
    text-align: center;
    z-index: 67;
    position:absolute;
    top: 2px;
    right: 10px;
}

.TopEditButton {
    cursor: pointer;
    width: 65px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #D6D7BD;
    text-align: center;
    z-index: 66;
    position:absolute;
    top: 2px;
    right: 10px;
}

.TopStyleButton {
    cursor: pointer;
    width: 65px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #D6D7BD;
    text-align: center;
    z-index: 65;
    position:absolute;
    top: 2px;
    right: 10px;
}

.TopTransButton {
    cursor: pointer;
    width: 90px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #D6D7BD;
    text-align: center;
    z-index: 64;
    position:absolute;
    top: 2px;
    right: 10px;
}

.TopHelpButton {
    cursor: pointer;
    width: 90px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #D6D7BD;
    text-align: center;
    z-index: 63;
    position:absolute;
    top: 2px;
    right: 10px;
}

.TopViewButton {
    cursor: pointer;
    width: 65px;
    height: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color: #D6D7BD;
    text-align: center;
    z-index: 62;
    position:absolute;
    top: 2px;
    right: 10px;
}