
.login_form {
    z-index: 350;
    position: absolute;
    background-color: lightblue;
    border: solid medium;
}

.login_form .title {
    background-color: blue;
    color:white;
    padding: 3px;
    padding-left: 30px;
    font-family: sans-serif;
    font-weight: bold;
    background: transparent url(/images/userlogin/system-users.png) 3px 1px no-repeat;
}

.login_form .body {
    background-color: cornsilk;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.login_form .body .field {
    padding-bottom: 10px;
    font-family: sans-serif;
}

.login_form .body .field label{
    padding-right: 5px;
}

.login_form .body .button_ok {

}